body {
  height: 100%;
  background-image: url('./assets/background.jpg');
}

p {
  margin: 0;
}

::placeholder {
  font-size: 24px;
}

#root, .app-content {
  margin: auto;
}

.app-title {
  color: #fff;
  font-size: 24px;
  font-weight: lighter;
  opacity: 0.4;
  margin: 0;
  margin-bottom: 50px;
  padding: 5px 15px;
  user-select: none;
}

.app-content {
  width: 80%;
}

.search-field {
  color: #fff;
  background-color: #000c;
  padding: 15px 30px;
  font-size: 24px;
  border-radius: 50px;
  letter-spacing: 1px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-field, .search-field:focus, .search-field:focus-visible .search-field:active {
  border: none;
  outline: none;
}

.search-header {
  color: #fff;
  font-weight: lighter;
  letter-spacing: 1px;
  text-align: center;
}

.search-button {
  padding: 25px 20px;
  background-color: #6d7171;
  border: none;
  border-radius: 50px;
  opacity: 0.7;
  color: #fff;
  font-weight: bold;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.search-button:hover {
  background-color: #c7cccc;
}

.search-button::before {
  content: '';
  background: url(./assets/active-search.svg);
  width: 32px;
  height: 32px;
  display: block;
  background-size: 100%;
  position: relative;
  right: 3px;
}

.search-container {
  width: 80%;
  margin: auto;
  margin-bottom: 60px;
}

.search-form {
  display: flex;
}

.city-field {
  width: 100%;
}

.results-container, .forecasts-inner-container {
  width: 80%;
  margin: auto;
}

.results-container.no-data {
  height: 200px;
  text-align: center;
  display: table;
  background-color: #0000;
}

.no-data-info {
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  font-size: 32px;
  opacity: 0.7;
}

.weather-icon {
  width: 180px;
}

.additional-weather-icon {
  width: 80px;
  margin-bottom: 10px;
}

.main-item-container {
  display: flex;
}

.icon-container, .info-container {
  flex: 1;
}

.icon-container {
  text-align: center;
}

.info-container, .additional-container {
  color: #fff;
}

.today, .temperature {
  font-size: 32px;
  font-weight: lighter;
}

.info-container .city {
  font-size: 52px;
  font-weight: 900;
  display:inline-block;
}

.celsius {
  font-weight: bold;
}

.celsius-sign {
  font-size: 24px;
}

.comma {
  font-size: 32px;
}

.country {
  font-size: 26px;
  font-weight: normal;
  display: block;
}

.city-info {
  margin-bottom: 20px;
}

.results-container {
  border-radius: 50px;
  overflow: hidden;
}

.forecasts-container {
  /* padding: 50px; */
  box-sizing: border-box;
  background-color: #000c;
  opacity: 0;
  position: relative;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.forecasts-inner-container {
  padding: 50px;
  box-sizing: border-box;
}

.additional-container {
  display: flex;
  /* border-top: 1px solid #272a2f; */
}

.additionalItem {
  background-color: #000c;
  flex: 1;
  text-align: center;
  padding: 30px;
  opacity: 0;
  position: relative;
  animation-name: itemFadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.additionalItem:nth-child(1){
  animation-delay: 0s;
}

.additionalItem:nth-child(2){
  animation-delay: 0.1s;
}

.additionalItem:nth-child(3){
  animation-delay: 0.2s;
}

.additionalItem:nth-child(4){
  animation-delay: 0.3s;
}

.additionalItem:nth-child(5){
  animation-delay: 0.4s;
}

.additionalItem .celsius-sign {
  font-size: 13px;
}

.weekday {
  font-size: 20px;
  margin-bottom: 20px;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes itemFadeIn {
  0% {
    top: 50px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.loading-container {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  position: relative;
  top: 50px;
}

.loading-bar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  top: 0;
  background-color: #fff9;
  animation: bounce 1.2s infinite;
  animation-fill-mode: both;
}

.loading-bar:not(:last-child){
  margin-right: 10px;
}

.loading-bar:nth-child(1){
  animation-delay: 0s;
}

.loading-bar:nth-child(2){
  animation-delay: 0.2s;
}

.loading-bar:nth-child(3){
  animation-delay: 0.4s;
}

@keyframes bounce {
  25%{top: -15px}
  50% {top: 0}
  100%{top: 0}
}

@media screen and (max-width : 1160px) {
  .app-content {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .additionalItem {
    padding: 30px 20px;
  }
  .today, .temperature {
    font-size: 24px;
  }
}

@media screen and (max-width: 767px) {
  .additional-weather-icon {
    width: 50px;
  }

  .icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .weather-icon {
    width: 120px;
  }

  .results-container, .forecasts-inner-container, .search-container {
    width: 95%;
  }

  .info-container .city {
    font-size: 44px;
  }
}

@media screen and (max-width: 625px) {
  .additional-container {
    flex-direction: column;
  }
  .weekday, .additionalItem .celsius {
    font-size: 32px;
  }
  .additional-weather-icon {
    width: 100px;
  }
  .additionalItem {
    border-top: 1px solid #fff3;
  }
  .info-container .city {
    font-size: 32px;
  }
  .country {
    font-weight: lighter;
  }
  .temperature {
    font-size: 24px;
  }
  .forecasts-inner-container {
    padding: 30px;
  }
}

@media screen and (max-width: 535px) {
  .main-item-container {
    flex-direction: column;
  }
  .icon-container {
    margin-bottom: 30px;
  }
  .info-container {
    text-align: center;
  }
  .info-container .today {
    margin-bottom: 10px;
  }
}